service gatekeeperd /system/bin/gatekeeperd /tmp/misc/gatekeeper
    class late_start
    user root
    group root
    writepid /dev/cpuset/system-background/tasks
    disabled
    seclabel u:r:recovery:s0
